/* This is CSS specifically for Rules and Regulations html page.  Vernon Louie */


header {
    height:             10vh;
    width:              90vw;
    background-color:   orange;
    margin:             auto;
    text-align:         center;
}

.RandR_container {
    height:             50vh;
    width:              90vw;
    background-color:   pink;
    margin:             auto;

}

.RandR_container h1 {
    text-align:         center;
}

.bottom_buttons_container {
    height:             20vh;
    width:              90vw;
    background-color:   lightblue;
    margin:             auto;
}

.generic_button {
    display:            inline-block;
    padding:            0.5em;
}

/*
.generic_button:first-child {
    margin-left:        0.5em;
}
*/

p {
    display:            inline-block;
    margin-left:        1em;
}

