body {
    width: 100vw;
    height:100vh;
}
.game_body {
    width: 60vw;
    height: 60vh;
    text-align: center;
    position:relative;
    float:left;
    left: 10%;
    top:2%;

}
.cell {
    border: solid black;
    display: inline-block;
    width: 10%;
    height:20%;
    box-sizing: border-box;
    background-color: white;
    border-radius: .5em;
    text-align: center;
    font-size: 2em;
    font-weight:bold;
    font-family: verdana sans-serif;
    vertical-align: text-top;
}
.header {
    width:100%;
    height:20vh;
    background-color: #559385;

}
.stats_body {
    background-color: #559385;
    height:80vh;
    width: 15vw;
    position:relative;
    float:left;
}
/*this is for  index 2*/
.cell2 {
    border: solid black;
    display: inline-block;
    width: 10%;
    height:20%;
    box-sizing: border-box;
    background-color: white;
    border-radius: .5em;
    text-align: center;
    font-size: 2em;
    font-weight:bold;
    font-family: verdana sans-serif;
}
