h5 {
    background-color:   yellow;
}
.inlineBlock {
    display:inline-block;
}
@keyframes pulse {
    0% {
        background-color: #001F3F;    }

}
body {
    width: 100vw;
    height:100vh;
    background-color: #74ada0;
    animation: pulse 5s;
}

.game_body {
    width: 60vw;
    height: 60vh;
    text-align: center;
    position:relative;
    float:left;
    left: 5%;
    top:2%;
}
.cell {
    border: solid black;
    display: inline-block;
    width: 10%;
    height:20%;
    box-sizing: border-box;
    background-color: white;
    border-radius: .5em;
    text-align: center;
    font-size: 2em;
    font-weight:bold;
    font-family: verdana sans-serif;
    vertical-align: text-top;
}
.header {
    width:100%;
    height:20vh;
    text-align: center;
}
.stats_body {
    height:80vh;
    width: 15vw;
    position:relative;
    float:left;
}
/*this is for  index 2*/
.cell2 {
    border: solid black;
    display: inline-block;
    width: 10%;
    height:20%;
    box-sizing: border-box;
    background-color: white;
    border-radius: .5em;
    text-align: center;
    font-size: 2em;
    font-weight:bold;
    font-family: verdana sans-serif;
}
.header{
    text-align: center;
    font-size: 2em;
}
.reset{
    background-color: #001F3F;
    width: 20vh;
    height:10vh;
    font-size: 16px;
    color: white;
}
.start{
    background-color: #001F3F;
    width: 20vh;
    height:10vh;
    font-size: 16px;
    color: white;
    text-align: center;
}
@-webkit-keyframes bg {
    from, to { background: yellow; }
    33% { background: green; }
    60% { background: blue; }
    60% { background: blueviolet; }
}
.cell {
    font-size: 200%;
    background: yellow;
    -webkit-animation: bg 5s infinite;
}

/* for index2 */
.game_body2 {
    width: 60vw;
    height: 60vh;
    text-align: center;
    position:relative;
    float:left;
    left: 5%;
    top:2%;
}
.advance_game {
    position: static;
    background-color: #001F3F;
    width: 20vh;
    height:10vh;
    font-size: 16px;
    color: white;
    text-align: center;
}

