header{
    height:10vw;
    width: 100vw;

    text-align: center;
    font-size: 2em;
}
.button{
    position: relative;
    left: 47vw;
    top: 30vh;
}
.description {
    width: 40vw;
    position: relative;
    left: 30vw;
    top: 15vh;
}
